<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <style media="screen">
        .hover {
            background-color: #eee !important;
        }

        .get_location {
            width: 100%;
            height: 140px;
            margin: 0 auto;
            text-align: center;
            line-height: 140px;
        }

        .add_ads {
            background: #151515;
            color: #fff;
        }
    </style>
</head>

<body>
    <section id="app">
        <ul class="aui-list aui-form-list">
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label-icon">
                        <i class="aui-iconfont aui-icon-my"></i>
                    </div>
                    <div class="aui-list-item-input">
                        <input type="text" placeholder="请输入姓名">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label-icon">
                        <i class="aui-iconfont aui-icon-mobile"></i>
                    </div>
                    <div class="aui-list-item-input">
                        <input type="text" placeholder="请输入电话号码">
                    </div>
                </div>
            </li>
            <ul class="aui-row">
                <li class="aui-col-xs-10">
                    <ul>
                        <li class="aui-list-item">
                            <div class="aui-list-item-inner">
                                <div class="aui-list-item-label-icon">
                                    <i class="aui-iconfont aui-icon-location"></i>
                                </div>
                                <div class="aui-list-item-input">
                                    <input type="text" placeholder="请输入省份" v-model="userInfoads.province">
                                </div>
                            </div>
                        </li>
                        <li class="aui-list-item">
                            <div class="aui-list-item-inner">
                                <div class="aui-list-item-label-icon">
                                    <i class="aui-iconfont aui-icon-location"></i>
                                </div>
                                <div class="aui-list-item-input">
                                    <input type="text" placeholder="请输入区、市" v-model="userInfoads.city">
                                </div>
                            </div>
                        </li>
                        <li class="aui-list-item">
                            <div class="aui-list-item-inner">
                                <div class="aui-list-item-label-icon">
                                    <i class="aui-iconfont aui-icon-location"></i>
                                </div>
                                <div class="aui-list-item-input">
                                    <input type="text" placeholder="请输入县镇" v-model="userInfoads.district">
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="aui-col-xs-2">
                    <div class="get_location" @click="getuserLocation" tapmode="hover">
                        <i class="aui-iconfont aui-icon-location"></i>
                    </div>
                </li>
            </ul>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label-icon">
                        <i class="aui-iconfont aui-icon-location"></i>
                    </div>
                    <div class="aui-list-item-input">
                        <input type="text" placeholder="请输入详细地址，如XX栋xx号">
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <footer class="aui-bar aui-bar-tab" id="footer">
        <div class="aui-bar-tab-item aui-padded-l-15 aui-padded-r-15" tapmode="hover">
            <div class="aui-btn aui-btn-block aui-btn-sm add_ads">确认添加</div>
        </div>
    </footer>
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>

<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            userInfoads: {
                province: "",
                city: "",
                district: ""
            }
        },
        mounted: function() {
            apiready = function() {
                api.parseTapmode();
            }
        },
        methods: {
            getuserLocation: function() {

                var _this = this;
                var bmLocation = api.require('bmLocation')

                bmLocation.configManager({
                    accuracy: 'device_sensors',
                    filter: 1,
                    activityType: 'automotiveNavigation',
                    coordinateType: 'GCJ02',
                    locationTimeout: 10,
                    reGeocodeTimeout: 10
                });

                bmLocation.singleLocation({
                    reGeocode: false,
                    netWorkState: false
                }, function(ret) {
                    var sta = ret.status;
                    if (sta) {
                        _this.userInfoads.province = ret.reGeo.province;
                        _this.userInfoads.city = ret.reGeo.city;
                        _this.userInfoads.district = ret.reGeo.district;

                    } else {
                        _this.toastActive("网络信号差，定位失败");
                    }
                });
            },
            toastActive: function(val) {
                api.toast({
                    msg: val,
                    duration: 2000,
                    location: 'bottom'
                });
            }
        }
    })
</script>

</html>
