<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/aui-slide.css" />
    <style media="screen">
      .tip_s {
        margin: 0.5rem 0;
      }
      .tip_s span {
        padding: 2px 6px;
        border: 1px solid #724228;
        color: #724228;
        border-radius: 10px;
        font-size: 0.6rem;
      }

      /*显示与隐藏*/
      .open {
        display: inline-block;
      }
      .close {
        display: none;
      }
      /*遮罩层*/
      .model {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        top: 0;
        left: 0;
        z-index: 12;
      }
      /*初始化*/
      .context {
        position: absolute;
        bottom: 10px;
        width: 90%;
        left: 5%;
        height: auto;
        background: #fff;
        border-radius: 10px;
      }
      /*弹框move*/
      .sliderDown-enter-active {
        transition: all 0.3s ease;
      }
      .sliderDown-leave-active {
        transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
      }
      .sliderDown-enter,
      .sliderDown-leave-to {
        transform: translateY(200px);
        opacity: 0;
      }

      .bong_s li span {
          display: inline-block;
          width: 80%;
          height: 100%;
          color: #000;
          background: #d2d2d2;
      }

      .bong_s li span.active {
          border: 1px solid #151515;
          color: #151515;
      }

      .price_s {
          color:#724228;
      }

      .line_height {
          line-height: 2.0rem;
      }

      p {
        color: #151515;
      }
      .card_s {
          width: 90%;
          margin: 0.5rem auto;
          border-radius: 6px;
          box-shadow: 0px 0px 4px #726c6b;
          padding: 0.5rem 0;
      }

      .line_height span {
          color: #726c6b;
          font-size: 0.6rem;
      }

      .line_height img {
          width: 80%;
      }
    </style>
</head>

<body>
    <section id="app" class="aui-content">
        <ul class="aui-row aui-margin-15">
            <li class="aui-col-xs-12">
                <img :src="preSrc+goodMsg.goodsimg" alt="图片">
                <p class="aui-margin-t-10 aui-font-size-20">{{goodMsg.goodsname1}}</p>
                <p class="aui-margin-t-10 aui-font-size-16">{{goodMsg.goodsname2}}</p>
                <p class="aui-margin-t-10 price_s" v-for="(item,index) in goodMsg.priceList" v-show="index == activeIndex">￥ {{item.price}} 元</p>
            </li>
            <li class="aui-col-xs-12">
                <p>{{goodMsg.goodsdes}}</p>
            </li>
            <li class="aui-col-xs-12 tip_s">
                <span>描述1</span> <span>描述2</span> <span>描述3</span>
            </li>
        </ul>
        <ul class="aui-row card_s">
            <li class="aui-row">
                <p class="aui-col-xs-12" @click="selectWeight" tapmode>
                    已选择：
                    <span v-for="(item,index) in goodMsg.bongsList" v-show="index == activeIndex" class="aui-font-size-14">{{item.bongs}}</span>
                    <i class="aui-iconfont aui-icon-right aui-font-size-16"></i>
                </p>
                <dl class="aui-row">
                    <dt class="aui-col-xs-6">
                        <dl class="aui-row line_height">
                            <dt class="aui-col-xs-3">
                              <img src="../../image/cake/icon1.png" alt="提示">
                            </dt>
                            <dt class="aui-col-xs-9 aui-text-left">
                              <span v-for="(item,index) in goodMsg.guigeList" v-show="index == activeIndex"> 尺寸  {{item.guige}}</span>
                            </dt>
                        </dl>
                    </dt>
                    <dt class="aui-col-xs-6">
                        <dl class="aui-row aui-text-right line_height">
                            <dt class="aui-col-xs-3">
                                <img src="../../image/cake/icon2.png" alt="提示">
                            </dt>
                            <dt class="aui-col-xs-9 aui-text-left">
                                <span v-for="(item,index) in goodMsg.personList" v-show="index == activeIndex">适合 {{item.person}} 个人分享</span>
                            </dt>
                        </dl>
                    </dt>
                    <dt class="aui-col-xs-6">
                          <dl class="aui-row aui-text-right line_height">
                              <dt class="aui-col-xs-3">
                                  <img src="../../image/cake/icon3.png" alt="提示">
                              </dt>
                              <dt class="aui-col-xs-9 aui-text-left">
                                  <span v-for="(item,index) in goodMsg.canjuList" v-show="index == activeIndex">含 {{item.canju}} 套餐具</span>
                              </dt>
                          </dl>
                    </dt>
                    <dt class="aui-col-xs-6">
                        <dl class="aui-row line_height">
                            <dt class="aui-col-xs-3">
                                <img src="../../image/cake/icon4.png" alt="提示">
                            </dt>
                            <dt class="aui-col-xs-9 aui-text-left">
                                <span v-for="(item,index) in goodMsg.pretimeList" v-show="index == activeIndex">需提前 {{item.pretime}} 小时预订</span>
                            </dt>
                        </dl>
                    </dt>
                </dl>
            </li>
        </ul>
        <ul class="aui-row aui-margin-t-10">
            <li class="aui-col-xs-12">
                <img src="../../image/cake/seven1.jpg" alt="描述" />
                <img src="../../image/cake/seven2.jpg" alt="描述" />
                <img src="../../image/cake/seven3.jpg" alt="描述" />
            </li>
        </ul>
        <!-- diolgo box -->
        <div :class="isShows">
            <div class="model" @click.self="closeModel" tapmode>
                <transition :name='silderDrections'>
                    <div v-show='flag' class="context">
                        <div class="aui-content">
                            <p v-for="(item,index) in goodMsg.priceList" v-show="index == activeIndex" class="price_s aui-font-size-16 aui-padded-10">￥ {{item.price}} 元</p>
                            <p class="aui-padded-10">{{goodMsg.goodsname2}}</p>
                            <dl class="aui-row">
                                <dt class="aui-col-xs-6">
                                    <dl class="aui-row line_height">
                                        <dt class="aui-col-xs-3">
                                            <img src="../../image/cake/icon1.png" alt="提示">
                                        </dt>
                                        <dt class="aui-col-xs-9">
                                            <span v-for="(item,index) in goodMsg.guigeList" v-show="index == activeIndex"> 尺寸  {{item.guige}}</span>
                                        </dt>
                                    </dl>
                                </dt>
                                <dt class="aui-col-xs-6">
                                      <dl class="aui-row line_height">
                                          <dt class="aui-col-xs-3">
                                              <img src="../../image/cake/icon2.png" alt="提示">
                                          </dt>
                                          <dt class="aui-col-xs-9">
                                              <span v-for="(item,index) in goodMsg.personList" v-show="index == activeIndex">适合 {{item.person}} 个人分享</span>
                                          </dt>
                                      </dl>
                                </dt>
                                <dt class="aui-col-xs-6">
                                      <dl class="aui-row line_height">
                                          <dt class="aui-col-xs-3">
                                              <img src="../../image/cake/icon3.png" alt="提示">
                                          </dt>
                                          <dt class="aui-col-xs-9">
                                              <span v-for="(item,index) in goodMsg.canjuList" v-show="index == activeIndex">含 {{item.canju}} 套餐具</span>
                                          </dt>
                                      </dl>
                                </dt>
                                <dt class="aui-col-xs-6">
                                    <dl class="aui-row line_height">
                                        <dt class="aui-col-xs-3">
                                            <img src="../../image/cake/icon4.png" alt="提示">
                                        </dt>
                                        <dt class="aui-col-xs-9">
                                            <span v-for="(item,index) in goodMsg.pretimeList" v-show="index == activeIndex">需提前 {{item.pretime}} 小时预订</span>
                                        </dt>
                                    </dl>
                                </dt>
                            </dl>
                            <div class="aui-margin-10">
                                <ul class="bong_s aui-row">
                                    <li v-for="(item,index) in goodMsg.bongsList" class="aui-col-xs-4 aui-text-center">
                                        <span @click="selectSwitch(index)" :class="{'active': index == activeIndex}" class="aui-font-size-14">{{item.bongs}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>
        </div>



    </section>
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/localdate.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>

<script type="text/javascript">

    apiready = function() {
        api.parseTapmode();
        var goodID = api.pageParam.goodID
        var postList = [];
        var goodMsg = {};
        init('cakeList', function(gn) {
            postList = gn;
        });
        init('teaList', function(gn) {
            gn.forEach(function(item){
              postList.push(item);
            })
        });
        init('giftList', function(gn) {
            gn.forEach(function(item){
              postList.push(item);
            })
        });
        init('iceList', function(gn) {
            gn.forEach(function(item){
              postList.push(item);
            })
        });

        postList.forEach(function(value) {
            if (goodID == value.goodsid) {
                goodMsg = value;
            } else {
                return false;
            }
        })

        var data = {
            goodMsg: goodMsg,
            activeIndex: "0",
            preSrc: '../../image/cake/',
            isShows: 'close',
            flag: false,
            silderDrections: 'sliderDown',
            initPrice: ''
        };

        var vm = new Vue({
            el: "#app",
            data: data,
            methods: {
                selectWeight: function() {
                  this.isShows = 'open';
                  this.flag = true;
                },
                selectSwitch: function(val) {
                    this.activeIndex = val;
                    var Produtmsg = {
                        productPrice: goodMsg.priceList[val].price,
                        productB: goodMsg.bongsList[val].bongs,
                        productC: goodMsg.canjuList[val].canju
                    }
                    var nlsp = new lsp("cartMsg");
                    nlsp.add(Produtmsg);
                },
                closeModel: function() {
                    this.flag = false;
                    var _this = this;
                    setTimeout(function() {
                        _this.isShows = 'close';
                    }, 300)
                }
            }
        })
    };
</script>

</html>
